<% categories = [{"category":"Housing","subcategory":"Housing Transition/ Navigation Services"},{"category":"Housing","subcategory":"Community Transition Services"},{"category":"Housing","subcategory":"Home Modifications"},{"category":"Personal Care","subcategory":"Personal Care and Homemaker Services"},{"category":"Personal Care","subcategory":"Sobering Centers"},{"category":"Food","subcategory":"Medically Tailored Meals"},{"category":"Training","subcategory":"Training"},{"category":"Transportation","subcategory":"Transportation"}] %>

<% service_providers = [{"Service":"Housing","Service Sub Category":"Housing Transition/ Navigation Services","Service Provider":"Father Joe's JKC Village Campus","Address":"1501 Imperial Ave., San Diego CA","Phone":"619.233.8500","NPI":1649655812,"Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Housing Transition/ Navigation Services","Service Provider":"SDYS Point Loma Campus","Address":"3255 Wing St., San Diego CA","Phone":"619.221.8600","NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Housing Transition/ Navigation Services","Service Provider":"SDYS East County Behavioral Health Clinic","Address":"1870 Cordell Ct. #101, El Cajon CA","Phone":"619.448.9700","NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"La Marea Senior Living","Address":"5592 El Camino Real, Carlsbad, CA -","Phone":"(442) 325-0623","NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"Casa de las Campanas","Address":"18655 W Bernardo Dr, San Diego, CA 92127","Phone":18589399914,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"The Remington Club","Address":"16925 Hierba Dr, San Diego, CA 92128","Phone":18586736340,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"Strong Care Home","Address":"11440 W Bernardo Ct STE 300, San Diego, CA 92127","Phone":18583823783,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"Mount Carmel Assisted Living","Address":"11178 Del Diablo Way, San Diego, CA 92129","Phone":18588486907,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"Torrey Pines Senior Living","Address":"13101 Hartfield Ave, San Diego, CA 92130","Phone":18582592222,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"ActivCare at 4S Ranch","Address":"10603 Rancho Bernardo Rd, San Diego, CA 92127","Phone":18585001113,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"Pacifica Senior Living Rancho Peñasquitos","Address":"12979 Rancho Peñasquitos Blvd, San Diego, CA 92129","Phone":18582155410,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"St. Paul's Villa","Address":"2340 Fourth Ave, San Diego, CA 92101","Phone":16192322996,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"Westmont at San Miguel Ranch","Address":"2325 Proctor Valley Rd, Chula Vista, CA 91914","Phone":16192714385,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Community Transition Services","Service Provider":"Ivy Park at Otay Ranch","Address":"1290 Santa Rosa Dr, Chula Vista, CA 91913","Phone":16196553314,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Personal Care and Homemaker Services","Service Provider":"Partners In Home Care, LLC","Address":"9967 Fieldthorn St, San Diego, CA 92127","Phone":18582614639,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Personal Care and Homemaker Services","Service Provider":"All Heart Home Care","Address":"11417 W Bernardo Ct Suite E, San Diego, CA 92127","Phone":18588668852,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Personal Care and Homemaker Services","Service Provider":"Comfort Keepers Home Care","Address":"4420 Rainier Ave #202, San Diego, CA 92120","Phone":18886098997,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Personal Care and Homemaker Services","Service Provider":"Safe Harbor Homecare","Address":"3750 Convoy St # 220, San Diego, CA 92111","Phone":18586341012,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Personal Care and Homemaker Services","Service Provider":"Delta Home Care","Address":"2534 State St #440, San Diego, CA 92101","Phone":18882874939,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Personal Care and Homemaker Services","Service Provider":"Modern Home Health Care Inc","Address":"3130 Bonita Rd UNIT 103, Chula Vista, CA 91910","Phone":16194766619,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Personal Care and Homemaker Services","Service Provider":"Amariah Home Care","Address":"1046 Helix Ave, Chula Vista, CA 91911","Phone":16197311535,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Home Modifications","Service Provider":"Bayview General Contractors","Address":"1139 Ocala Ave, Chula Vista, CA 91911","Phone":16286005838,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Home Modifications","Service Provider":"Maintenance Medics Home Services Inc.","Address":"2240 Main St Suite 25, Chula Vista, CA 91911","Phone":16193951710,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Home Modifications","Service Provider":"Bayview General Contractors","Address":"1139 Ocala Ave, Chula Vista, CA 91911","Phone":16286005838,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Home Modifications","Service Provider":"Sonny Builders","Address":"1450 Melrose Ave, Chula Vista, CA 91911","Phone":18559509181,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Home Modifications","Service Provider":"Forever Builders Inc","Address":"8305 Vickers St #200, San Diego, CA 92111","Phone":18332435624,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Housing","Service Sub Category":"Home Modifications","Service Provider":"Elite Living Remodeling, Inc.","Address":"8650 Miramar Rd, San Diego, CA 92126","Phone":18443548303,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Food","Service Sub Category":"Medically Tailored Meals","Service Provider":"Michaela's Meals","Address":"501 First Ave., San Diego, CA 92101","Phone":16198189784,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Food","Service Sub Category":"Medically Tailored Meals","Service Provider":"The Meal Prep Co.","Address":"3641 Madison Ave, San Diego, CA 92116","Phone":16194150106,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Food","Service Sub Category":"Medically Tailored Meals","Service Provider":"Meals On Wheels","Address":"2254 San Diego Ave STE 200, San Diego, CA 92110","Phone":16192606110,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Food","Service Sub Category":"Medically Tailored Meals","Service Provider":"Serving Seniors - Soup Kitchen","Address":"525 14th St, San Diego, CA 92101","Phone":16192356572,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Food","Service Sub Category":"Medically Tailored Meals","Service Provider":"San Diego Hunger Coalition","Address":"845 15th St Suite 103, San Diego, CA 92101","Phone":16195017917,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Food","Service Sub Category":"Medically Tailored Meals","Service Provider":"Jewish Family Services","Address":"8788 Balboa Ave, San Diego, CA 92123","Phone":18586373356,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Sobering Centers","Service Provider":"San Diego Coastal Sober Living","Address":"4111 Clairemont Dr, San Diego, CA 92117","Phone":16198972680,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Sobering Centers","Service Provider":"McAlister Institute- Sobering Services Center","Address":"3511 India St, San Diego, CA 92103","Phone":16192945760,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Sobering Centers","Service Provider":"Sober Life Recovery Solutions","Address":"1446 Front St Suite 400, San Diego, CA 92101","Phone":16195429542,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Sobering Centers","Service Provider":"SHORELINE Sober Living","Address":"13334 Tiverton Rd, San Diego, CA 92130","Phone":18669391724,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Sobering Centers","Service Provider":"The Ranch Sober Living","Address":"2009 69th St, Lemon Grove, CA 91945","Phone":16194539237,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Personal Care","Service Sub Category":"Sobering Centers","Service Provider":"South Bay Community Services","Address":"430 F St, Chula Vista, CA 91910","Phone":16194203620,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Training","Service Sub Category":"Training","Service Provider":"NAMI's Connection 2 Community","Address":"101 16th St. San Diego, CA 92101","Phone":"619-831-3010","NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Training","Service Sub Category":"Training","Service Provider":"LGBTQ Youth Center","Address":"3909 Centre St., San Diego CA","Phone":"619.692.2077","NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Training","Service Sub Category":"Training","Service Provider":"South Bay Community Service","Address":"430 F St., Chula Vista CA","Phone":"619.420.3620","NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Transportation","Service Sub Category":"Transportation","Service Provider":"Agx Transport","Address":"651 Anita St B4, Chula Vista, CA 91911","Phone":18586050432,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Transportation","Service Sub Category":"Transportation","Service Provider":"Valley Medical Transport","Address":"2240 Main St UNIT 19, Chula Vista, CA 91911","Phone":16194233298,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Transportation","Service Sub Category":"Transportation","Service Provider":"Sunny Days Medical Transport","Address":"1840 Deep Haven Ln, San Diego, CA 92154","Phone":16197066888,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Transportation","Service Sub Category":"Transportation","Service Provider":"Hilltop Medical Transport","Address":"315 Calle La Quinta #4423, Chula Vista, CA 91914","Phone":16199467621,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Transportation","Service Sub Category":"Transportation","Service Provider":"RACE MEDICAL TRANSPORTATION","Address":"Main St, Chula Vista, CA 91911","Phone":16197737933,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Transportation","Service Sub Category":"Transportation","Service Provider":"Black Tiger Medical Transportation","Address":"9090 Birch St, Spring Valley, CA 91977","Phone":16194570577,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""},{"Service":"Transportation","Service Sub Category":"Transportation","Service Provider":"Vital Medical Transport LLC","Address":"124 E 30th St, National City, CA 91950","Phone":16198635905,"NPI":"Random Generate","Last Activity By":"Random Generate","Last Activity On":""}]%>

<% doctors = [{"Name":"San Ysidro Health Center Inc","Address":"865 3rd Ave #133, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"San Ysidro Health Center Inc","Address__1":"865 3rd Ave #133, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Family Health Center","Address":"251 Landis Ave, Chula Vista, CA 91910","Phone":16195152500,"Name__1":"Chula Vista Family Health Center","Address__1":"251 Landis Ave, Chula Vista, CA 91910","Phone__1":16195152500,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Otay Community Health Center","Address":"1637 3rd Ave, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"Otay Community Health Center","Address__1":"1637 3rd Ave, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Rice Family Health Center","Address":"352 L St, Chula Vista, CA 91911","Phone":16195152325,"Name__1":"Rice Family Health Center","Address__1":"352 L St, Chula Vista, CA 91911","Phone__1":16195152325,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Medical Arts Center","Address":"450 4th Ave, Chula Vista, CA 91910","Phone":16193554530,"Name__1":"Chula Vista Medical Arts Center","Address__1":"450 4th Ave, Chula Vista, CA 91910","Phone__1":16193554530,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"El Cajon Family Health Center","Address":"525 E Main St, El Cajon, CA 92020","Phone":16195152498,"Name__1":"El Cajon Family Health Center","Address__1":"525 E Main St, El Cajon, CA 92020","Phone__1":16195152498,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Centro Medico El Cajon","Address":"133 W Main St Suite 100, El Cajon, CA 92020","Phone":16194010404,"Name__1":"Centro Medico El Cajon","Address__1":"133 W Main St Suite 100, El Cajon, CA 92020","Phone__1":16194010404,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Neighborhood Healthcare","Address":"855 E Madison Ave, El Cajon, CA 92020","Phone":18338674642,"Name__1":"Neighborhood Healthcare","Address__1":"855 E Madison Ave, El Cajon, CA 92020","Phone__1":18338674642,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"La Maestra Community Health Centers","Address":"183 S 1st St #4795, El Cajon, CA 92019","Phone":16193281335,"Name__1":"La Maestra Community Health Centers","Address__1":"183 S 1st St #4795, El Cajon, CA 92019","Phone__1":16193281335,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Parkside Health and Wellness Cente","Address":"444 W Lexington Ave, El Cajon, CA 92020","Phone":16194427744,"Name__1":"Parkside Health and Wellness Cente","Address__1":"444 W Lexington Ave, El Cajon, CA 92020","Phone__1":16194427744,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"San Ysidro Health Center Inc","Address":"865 3rd Ave #133, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"San Ysidro Health Center Inc","Address__1":"865 3rd Ave #133, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Family Health Center","Address":"251 Landis Ave, Chula Vista, CA 91910","Phone":16195152500,"Name__1":"Chula Vista Family Health Center","Address__1":"251 Landis Ave, Chula Vista, CA 91910","Phone__1":16195152500,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Otay Community Health Center","Address":"1637 3rd Ave, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"Otay Community Health Center","Address__1":"1637 3rd Ave, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Rice Family Health Center","Address":"352 L St, Chula Vista, CA 91911","Phone":16195152325,"Name__1":"Rice Family Health Center","Address__1":"352 L St, Chula Vista, CA 91911","Phone__1":16195152325,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Medical Arts Center","Address":"450 4th Ave, Chula Vista, CA 91910","Phone":16193554530,"Name__1":"Chula Vista Medical Arts Center","Address__1":"450 4th Ave, Chula Vista, CA 91910","Phone__1":16193554530,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"El Cajon Family Health Center","Address":"525 E Main St, El Cajon, CA 92020","Phone":16195152498,"Name__1":"El Cajon Family Health Center","Address__1":"525 E Main St, El Cajon, CA 92020","Phone__1":16195152498,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Centro Medico El Cajon","Address":"133 W Main St Suite 100, El Cajon, CA 92020","Phone":16194010404,"Name__1":"Centro Medico El Cajon","Address__1":"133 W Main St Suite 100, El Cajon, CA 92020","Phone__1":16194010404,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Neighborhood Healthcare","Address":"855 E Madison Ave, El Cajon, CA 92020","Phone":18338674642,"Name__1":"Neighborhood Healthcare","Address__1":"855 E Madison Ave, El Cajon, CA 92020","Phone__1":18338674642,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"La Maestra Community Health Centers","Address":"183 S 1st St #4795, El Cajon, CA 92019","Phone":16193281335,"Name__1":"La Maestra Community Health Centers","Address__1":"183 S 1st St #4795, El Cajon, CA 92019","Phone__1":16193281335,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Parkside Health and Wellness Cente","Address":"444 W Lexington Ave, El Cajon, CA 92020","Phone":16194427744,"Name__1":"Parkside Health and Wellness Cente","Address__1":"444 W Lexington Ave, El Cajon, CA 92020","Phone__1":16194427744,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"San Ysidro Health Center Inc","Address":"865 3rd Ave #133, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"San Ysidro Health Center Inc","Address__1":"865 3rd Ave #133, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Family Health Center","Address":"251 Landis Ave, Chula Vista, CA 91910","Phone":16195152500,"Name__1":"Chula Vista Family Health Center","Address__1":"251 Landis Ave, Chula Vista, CA 91910","Phone__1":16195152500,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Otay Community Health Center","Address":"1637 3rd Ave, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"Otay Community Health Center","Address__1":"1637 3rd Ave, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Rice Family Health Center","Address":"352 L St, Chula Vista, CA 91911","Phone":16195152325,"Name__1":"Rice Family Health Center","Address__1":"352 L St, Chula Vista, CA 91911","Phone__1":16195152325,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Medical Arts Center","Address":"450 4th Ave, Chula Vista, CA 91910","Phone":16193554530,"Name__1":"Chula Vista Medical Arts Center","Address__1":"450 4th Ave, Chula Vista, CA 91910","Phone__1":16193554530,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"El Cajon Family Health Center","Address":"525 E Main St, El Cajon, CA 92020","Phone":16195152498,"Name__1":"El Cajon Family Health Center","Address__1":"525 E Main St, El Cajon, CA 92020","Phone__1":16195152498,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Centro Medico El Cajon","Address":"133 W Main St Suite 100, El Cajon, CA 92020","Phone":16194010404,"Name__1":"Centro Medico El Cajon","Address__1":"133 W Main St Suite 100, El Cajon, CA 92020","Phone__1":16194010404,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Neighborhood Healthcare","Address":"855 E Madison Ave, El Cajon, CA 92020","Phone":18338674642,"Name__1":"Neighborhood Healthcare","Address__1":"855 E Madison Ave, El Cajon, CA 92020","Phone__1":18338674642,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"La Maestra Community Health Centers","Address":"183 S 1st St #4795, El Cajon, CA 92019","Phone":16193281335,"Name__1":"La Maestra Community Health Centers","Address__1":"183 S 1st St #4795, El Cajon, CA 92019","Phone__1":16193281335,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Parkside Health and Wellness Cente","Address":"444 W Lexington Ave, El Cajon, CA 92020","Phone":16194427744,"Name__1":"Parkside Health and Wellness Cente","Address__1":"444 W Lexington Ave, El Cajon, CA 92020","Phone__1":16194427744,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"San Ysidro Health Center Inc","Address":"865 3rd Ave #133, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"San Ysidro Health Center Inc","Address__1":"865 3rd Ave #133, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Family Health Center","Address":"251 Landis Ave, Chula Vista, CA 91910","Phone":16195152500,"Name__1":"Chula Vista Family Health Center","Address__1":"251 Landis Ave, Chula Vista, CA 91910","Phone__1":16195152500,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Otay Community Health Center","Address":"1637 3rd Ave, Chula Vista, CA 91911","Phone":16192051360,"Name__1":"Otay Community Health Center","Address__1":"1637 3rd Ave, Chula Vista, CA 91911","Phone__1":16192051360,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Rice Family Health Center","Address":"352 L St, Chula Vista, CA 91911","Phone":16195152325,"Name__1":"Rice Family Health Center","Address__1":"352 L St, Chula Vista, CA 91911","Phone__1":16195152325,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Chula Vista Medical Arts Center","Address":"450 4th Ave, Chula Vista, CA 91910","Phone":16193554530,"Name__1":"Chula Vista Medical Arts Center","Address__1":"450 4th Ave, Chula Vista, CA 91910","Phone__1":16193554530,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"El Cajon Family Health Center","Address":"525 E Main St, El Cajon, CA 92020","Phone":16195152498,"Name__1":"El Cajon Family Health Center","Address__1":"525 E Main St, El Cajon, CA 92020","Phone__1":16195152498,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Centro Medico El Cajon","Address":"133 W Main St Suite 100, El Cajon, CA 92020","Phone":16194010404,"Name__1":"Centro Medico El Cajon","Address__1":"133 W Main St Suite 100, El Cajon, CA 92020","Phone__1":16194010404,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Neighborhood Healthcare","Address":"855 E Madison Ave, El Cajon, CA 92020","Phone":18338674642,"Name__1":"Neighborhood Healthcare","Address__1":"855 E Madison Ave, El Cajon, CA 92020","Phone__1":18338674642,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"La Maestra Community Health Centers","Address":"183 S 1st St #4795, El Cajon, CA 92019","Phone":16193281335,"Name__1":"La Maestra Community Health Centers","Address__1":"183 S 1st St #4795, El Cajon, CA 92019","Phone__1":16193281335,"Last Activity By":"Random Generate","Last Activity On":""},{"Name":"Parkside Health and Wellness Cente","Address":"444 W Lexington Ave, El Cajon, CA 92020","Phone":16194427744,"Name__1":"Parkside Health and Wellness Cente","Address__1":"444 W Lexington Ave, El Cajon, CA 92020","Phone__1":16194427744,"Last Activity By":"Random Generate","Last Activity On":""}]%>

<div class="content-wrapper">
 <div class="content-header">
   <div class="container-fluid">
     <div class="row mb-2">
       <div class="col-sm-6">
         <h1 class="m-0 text-dark">Review Support Service Requests </h1>
       </div><!-- /.col -->
       <div class="col-sm-6">
         <ol class="breadcrumb float-sm-right">
           <li class="breadcrumb-item"><a href="<%= root_path%>">Home</a></li>
           <li class="breadcrumb-item">Support Services</li>
           <li class="breadcrumb-item active">Review Support Service Requests </li>
         </ol>
       </div>
     </div>
   </div>
 </div>

 <section class="content">
   <div class="container-fluid">
     <div class="row d-flex justify-content-center">
       <div class="col-lg-4 col-6">
         <div class="small-box bg-info">
           <div class="inner">
             <h3>35</h3>
             <p>Housing</p>
           </div>
           <div class="icon">
             <i class="ion ion-bag"></i>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-6">
         <div class="small-box bg-success">
           <div class="inner">
             <h3>62</h3>
             <p>Transportation</p>
           </div>
           <div class="icon">
             <i class="ion ion-stats-bars"></i>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-6">
         <div class="small-box bg-warning">
           <div class="inner">
             <h3>47</h3>
             <p>Food </p>
           </div>
           <div class="icon">
             <i class="ion ion-person-add"></i>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-6">
         <div class="small-box bg-danger">
           <div class="inner">
             <h3>35</h3>
             <p>Personal Care</p>
           </div>
           <div class="icon">
             <i class="ion ion-pie-graph"></i>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-6">
         <div class="small-box bg-primary">
           <div class="inner">
             <h3>12</h3>
             <p>Training</p>
           </div>
           <div class="icon">
             <i class="ion ion-pie-graph"></i>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body table-responsive p-0">
              <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>Request No</th>
                        <th>Referral By</th>
                        <th>Member Name</th>
                        <th>Request Date</th>
                        <th>Service</th>
                        <th>Service Sub Category</th>
                        <th>Service Provider</th>
                        <th>Supporting Documents</th>
                        <th>Last Action Taken</th>
                    </tr>
                </thead>
                <tbody>
                    <% req_no = "HNET000" %>
                    <% 20.times do |index|%>
                        <%doctor = doctors.sample%>
                        <%service_provider = service_providers.sample%>
                        <% counter = index + 1%>
                        <tr>
                            <td>
                              <a href="#" class="request_number">
                              <%= req_no + (counter < 10 ? ("0"+ counter.to_s ): counter.to_s )%>
                              </a> 
                            </td>
                            <td>
                                <%= doctor["Name".to_sym]%>
                            </td>
                            <td>
                                <%= fake_user_name  %>
                            </td>
                            <td>
                                <%= rand(45.days.ago..Time.now).strftime(' %d %b %Y ')%>
                            </td>
                            <td>
                                <%= service_provider["Service".to_sym]%>
                            </td>
                            <td>
                                <%= service_provider["Service Sub Category".to_sym]%>
                            </td>
                            <td>
                                <%= service_provider["Service Provider".to_sym]%>
                            </td>
                            <td>
                              <a href="<%= asset_path('/uploads/supporting_document.pdf') %>" target="_blank">
                                <i class="fa fa-file-pdf" aria-hidden="true"></i>
                                referral_form.pdf
                              </a>
                            </td>
                             <td>
                                <%= rand(1.days.ago..Time.now).strftime('%A, %d %b %Y %l:%M %p')%>
                            </td>
                        </tr>
                    <% end %>
                    
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
</div>

<div class="modal fade hide" id="modal-default" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card " id="data-to-append">
            <embed src="<%= asset_path('/uploads/supporting_document.pdf?controls=0') %>" width="100%" height="900px" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close-modal pull-right">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade hide" style="display: none"></div>

<script>
$(function(){

    function showModal(){
          $("#modal-default, .modal-backdrop").removeClass('hide').addClass('show')
           .attr('role', 'dialog')
           .css('display', 'block')
    }
    function hideModal(){
        $("#modal-default, .modal-backdrop").addClass('hide').removeClass('show')
        .removeAttr('role')
        .css('display', 'none')
        
    }

    $(".request_number").unbind('click').bind('click', function(e){
      e.preventDefault()
      showModal()
    });
    $(".modal-header .close, .modal-footer .close-modal").unbind('click').bind('click', function(){
            hideModal()
    })
    
})
</script>